@page "/create"
@layout MainLayoutWnavbar
@using DataLayer.Services
@using DataLayer.Models
@using Blazored.LocalStorage
@inject UtilizadorService userService;
@inject LicitacaoService licitService;
@inject LeilaoService leilaoService;
@inject ClassificacaoService classService;
@inject CategoriaService categoriaService;
@inject CarregamentoService carregamentoService;
@inject FotoService fotoService;
@inject Blazored.LocalStorage.ILocalStorageService localStorage;

<div class="min-h-screen bg-gray-200 flex flex-wrap justify-center w-full">

    <!--falta meter a cena de carregar ficheiros e ficar com eles la! aka funcional-->
    <label for="carrega-ficheiros" class="mt-8 mb-4 flex flex-col items-center justify-center bg-red-200 rounded-2xl border-1 border-zinc-300 h-64 w-7/12 cursor-pointer">
        <p class="font-bold text-2xl text-black/40">
            + Load Photos
        </p>
        <p class="font-smedium text-sm text-black/40">PNG or JPG</p>

        <InputFile id="carrega-ficheiros" class="hidden" OnChange="HandleFileSelected" />
    </label>



    <div class="my-4 bg-white rounded-2xl h-80 w-7/12 grid grid-cols-2 grid-rows-4">

        <input type="text" id="titulo" @bind="@nome" placeholder="Title"
               class="ml-16 mr-10 my-3 px-3 text-zinc-800 text-lg font-extralight shadow border border-black/25 rounded-2xl block dark:text-black" required>

        <select id="estado" @bind="@estado"
                class="ml-10 mr-16 my-3 px-3 text-zinc-800 text-lg font-extralight shadow border border-black/25 rounded-2xl dark:text-zinc-500" required>
            <option value="" disabled selected>Select Condition</option>
            <option value="Very Good">Very Good</option>
            <option value="Good">Good</option>
            <option value="OK">OK</option>
            <option value="Bad">Bad</option>
            <option value="Very Bad">Very Bad</option>
        </select>


        <input type="number" id="preco_inicial" @bind="@preco_inicial" placeholder="Initial Price (€)" min="10"
               class="ml-16 mr-10 my-3 px-3 text-zinc-800 text-lg font-extralight shadow border border-black/25 rounded-2xl block dark:text-black" required>

        <input type="text" id="marca" @bind="@marca" placeholder="Brand"
               class="ml-10 mr-16 my-3 px-3 text-zinc-800 text-lg font-extralight shadow border border-black/25 rounded-2xl block dark:text-black" required>

        <select id="categoria" @bind="@categoria"
                class="ml-16 mr-10 my-3 px-3 text-zinc-800 text-lg font-extralight shadow border border-black/25 rounded-2xl dark:text-zinc-500" required>
            <option value="" disabled selected>Category</option>
            <option value="1">Action/Vinyl Figures</option>
            <option value="2">Comic</option>
            <option value="3">Movies and Series</option>
            <option value="4">Board Games</option>
            <option value="5">Video Games</option>
        </select>


        <select id="tipo_leilao" @bind="@tipo"
                class="ml-10 mr-16 my-3 px-3 text-zinc-800 text-lg font-extralight shadow border border-black/25 rounded-2xl dark:text-zinc-500" required>
            <option value="" disabled selected>Select Auction Type</option>
            <option value="Ingles">Inglês</option>
            <option value="Holandes">Holândes</option>
        </select>

        <input type="time" id="tempo_limite" @bind="@dataDeTermino"
               class="ml-16 mr-10 my-3 px-3 text-zinc-800 text-lg font-extralight shadow border border-black/25 rounded-2xl block dark:text-black" required>
    </div>


    <div class="my-4 flex items-center justify-center bg-white rounded-2xl h-52 w-7/12">

        <textarea id="message" @bind="@descricao" rows="6" placeholder="Write a description of the product you are going to auction here..."
                  class="block p-3 w-full h-full text-xl text-zinc-800 bg-white rounded-lg border border-gray-300 dark:bg-gray-700 dark:border-black dark:placeholder-gray-400 dark:text-black"></textarea>
    </div>


    <!--butoes confirmar e cancelar-->
    <div class="flex w-full mr-52 mt-4 mb-8 gap-5 justify-end inline-flex">
        <button type="submit" class="bg-red-500 rounded-2xl shadow px-12 py-3 text-white text-center text-lg font-bold justify-items-end items-center hover:bg-red-400">
            Cancel
        </button>

        <button type="submit" @onclick="criaFoto" class="bg-red-500 rounded-2xl shadow px-10 py-3 text-white text-center text-lg font-bold justify-items-end items-center hover:bg-red-400">
            Confirm
        </button>
    </div>

    <p> @leilao.nome | @leilao.estado | @leilao.preco_inicial | @leilao.marca | @leilao.idCategoria | @leilao.tipo | @leilao.dataDeTermino | @leilao.descricao | @leilao.vendedorId | @leilao.LeilãoID</p>

</div>


@code {

private IBrowserFile? selectedFile;
private Leilao leilao = new Leilao();
private Foto foto = new Foto();
private string nome;
private string estado;
private double preco_inicial;
private string marca;
private int categoria;
private string tipo;
private DateTime dataDeTermino;
private string descricao;

    private void HandleFileSelected(InputFileChangeEventArgs e)
    {
        selectedFile = e.File;
    }
    
    public void criaFoto(){
    
        leilao.nome = nome;
        leilao.estado = estado;
        leilao.preco_inicial = preco_inicial;
        leilao.marca = marca;
        leilao.idCategoria = 1;
        leilao.tipo = tipo;
        leilao.dataDeTermino = dataDeTermino;
        leilao.descricao = descricao;
        leilao.LeilãoID = leilaoService.GetLength();

        string NomeFoto = "leilao" + leilao.LeilãoID + ".jpg";

        //if (selectedFile != null){
            // Read the file content into a byte array
            
                using (var memoryStream = new MemoryStream())
                {
                    
                    // Save the file to wwwroot directory
                    leilaoService.AddLeilao(leilao);
                    //foto.FotoPath = filePath;
                    //foto.IDLeilão = leilao.LeilãoID;
                    //fotoService.AddFoto(foto);
                }
            
        

    }

    protected override async Task OnInitializedAsync()
    {
        leilao.vendedorId = await localStorage.GetItemAsync<string>("note");
    }

}
